.Document {
    text-align: left;
}

.Header {
    padding-right: 50%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.SubHeader {
    font-size: 25px;
    font-weight: 600;
}

.TableContent {
    font-size: 20px;
    font-weight: 600;
}

.Content {
    padding-left: 5%;
}

#Img_CSharp {
    position: absolute;
    padding-left: 30%;
}